<ion-button (click)="ascend()">Latest first</ion-button>
<ion-button (click)="descen()">Oldest first</ion-button>
<ion-grid>


  <ion-row>
    
    <ion-col>
      <ion-reorder-group id="reordena" disabled="false">
     <ion-item *ngFor="let correo of correosFiltrados">
      <!--<ion-row *ngFor="let correo of correosFiltrados">-->
      <ion-reorder slot="end"></ion-reorder>
      <ion-card  *ngIf="!correo.leido">
        <div>
          <ion-grid>
            <ion-row>
              <ion-col size="2">
               <ion-card-header>
                 <ion-icon name="person-outline"></ion-icon>
   
                
               </ion-card-header>
             
               
              </ion-col>
              <ion-col size="10"  class="alinear-texto--izquierda">
                <ion-card-title>{{correo.titulo}}</ion-card-title>
                <ion-card-content>
                  <b>{{correo.remitente}}</b>: <br>    {{correo.contenido}}
                </ion-card-content>
                <ion-card-content>
                  {{correo.fechaRecibido}}
                </ion-card-content>
              </ion-col>
            </ion-row>
           <ion-row>
             <ion-col  class="alinear-texto--izquierda">
               <ion-checkbox  [(ngModel)]="correo.leido"></ion-checkbox>
               <ion-label>Marcar como leído</ion-label>
             </ion-col>
           </ion-row>
   
   
          </ion-grid>
        </div>
      
        
      
        
      </ion-card>
     </ion-item>
  
    </ion-reorder-group>
    </ion-col>
  </ion-row>
 
</ion-grid>

